* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-weight: bolder;
}

.img-logo {
    width: auto;
    height: 85%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 15%;
    background-color: #03989E;
    display: flex;
    align-items: center;
    border-bottom: #ffffff solid 5px;
}

.buttom {
    width: 100%;
    height: 50%;
    color: black;
    font-weight: bold;
}

.buttons-edital{
    width: 40%;
    height: auto;

}

.edital-button {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.text-button {
    width: auto;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    color: black;
    font-weight: bolder;
}


.buttom-doe{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #03989E;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;

    a:visited {
        color: #03989E
      }
}



#about-main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #03989E;
}

.right {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.text-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.text1,
.text2,
.text3,
.text4 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}

.image-left {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.about-right {
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-about {
    width: 100%;
    height: 15%;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    margin-bottom: 30px;
}

.about-lyrics {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: justify;
    color: #ffffff;
}

#porpouse {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #03989E;
}

.title-porpouse {
    width: auto;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    padding-top: 50px;

}


.porpouse-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.porpouse-left {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.porpouse-right {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.porpouse-center {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.li {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.li-editais {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.ul {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
}

.goal1, .goal2, .goal3 {
    width: auto;
    height: auto;
}



.goal1-img {
    width: auto;
    height: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.goal2-img, .goal3-img {
    width: auto;
    height: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.img-details {
    width: 85px;
    height: 82px;
}

.title {
    width: auto;
    height: auto;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
}

.sub-title {
    width: auto;
    height: 100%;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
}

.list {
    width: auto;
    height: 100%;
    list-style-position: inside;
}

.textgoal {
    width: 70%;
    height: 100%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

#edital{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: #03989E;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.edital-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edital-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.action-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.title-action {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-left {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.action-center {
    width: 33.33%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.action-right {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-doar{
    width: auto;
    height: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}

#doar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03989E;
}

.contact-partnership{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.contact-title {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.partnership-title{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.textgoal-partnership {
    width: 100%;
    height: 100%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.editais {
    width: 100%;
    height: auto;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding-top: 20px;
}

#contact {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.partnership{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.doar-main {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.line {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
}

.pix-div {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.pix-div {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
}

.contact-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-contact-main {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textgoal-contact {
    width: 100%;
    height: auto;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: flex;
    color: #ffffff;
    margin-left: 10px;
}

.text-style-box {
    width: 50%;
    height: 22%;
    display: flex;
    flex-direction: column;
}

.partnership-main {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.instagram {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.youtube {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    padding-bottom: 20px;
}

.triangle-container {
    position: relative;
    width: 100%;
    height: 0;
}

.triangle-left,
.triangle-right {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.triangle-left {
    left: 0;
    border-width: 0 955px 100px 0;
    border-color: transparent transparent #ffffff transparent;
}

.triangle-right {
    right: 0;
    border-width: 0 0 100px 955px;
    border-color: transparent transparent #ffffff transparent;
}

.footer-bar{
    width: 100%;
    height: 13%;
    background-color: #03989E;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
